// Variables de fuentes
$fuentePrincipal: 'Raleway', sans-serif;
$fuenteSecundaria: 'Robot', sans-serif;
$fuenteCursiva: 'Bona Nova', serif;

// MediaQueries
$telefono: 480px;
$table: 768px;
$desktop: 1024px;

// colores
$primario: #5e311e;
$secundario: #c39c63;
$negro: #000000;
$blanco: #ffffff;
$grisClaro: #eceeef;
$cafeClaro: #ebe7de;

// Unidades
$separacion: 5rem;