@use 'base/variables' as v;
@use 'base/mixins' as m;


.nav-principal {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;

    @include m.tablet { 
         flex-direction: row; 
         gap: 1rem;
         margin-top: 0;
    }

    a {
        color: v.$blanco;
        text-align: center;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 700;
    

        @include m.tablet { 
            margin-top: 0;
        }

        &:hover {
            color: v.$secundario;
        }

        &.activo {
            color: v.$secundario;
        }
    }
}