@use 'base/variables' as v;
@use 'base/mixins' as m;

.nuestros-testimoniales {
    padding: 10rem 2rem;

    @include m.tablet { 
        padding: 10rem;
    }
}

.tsetimonial {
    background-color: v.$cafeClaro;
}